:root {
  --first-color: #6c63ff;
  --second-color: #f9f7fe;
  --third-color: #272142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display, serif;
  font-weight: bold;
}

.hero-section {
  text-align: center;
  background: var(--second-color);
  padding: 120px 0;
}
.hero-section p {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.hero-section h1 {
  font-size: 86px;
}
.hero-section h2 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: var(--third-color);
  line-height: 50px;
}
.primary-btn {
  background: var(--first-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .hero-section h1 {
    font-size: 46px;
  }
  .hero-section p {
    font-size: 28px;
  }
}
